# my original
*.password

#
# emacs backup files
#
*~

# -----------------
# python
# -----------------
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg

# -----------------
# C/C++
# -----------------
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a

# -----------------
# blogofile
# -----------------
_site
