.post-entry {
    text-align: justify;
    border-bottom: 1px solid rgba(34,34,34,0.1);
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.post-header h1:after {
    background-color: #343434;
    content: &#39;&#39;;
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background: #111;
}

.container.sp_sidebar {
    overflow: hidden;
    margin-top: 40px;
}

.pagination {
    margin-bottom: 60px;
    overflow: hidden;
    display: none;
}
